@font-face {
    font-family: 'CustomFont';
    src: url('../Roboto-Regular.ttf') format('opentype');
}

$primary-color: #2E4057;
$background: #F5F5F5;

body {
    background-color: $background;
    color: $primary-color;
    font-family: 'CustomFont', sans-serif;
}
#app {
    display: block;
    text-align: center;
    padding: 16px;
    font-size: 18px;
}